body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
}

/* First Section Started*/

.top-banner {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    display: flex;
    background-size: 100%;
    height: 670px;
    text-align: center;

}


.heading text {
    text-align: center;
    width: 600px;
    height: 400px;
}

.header-text {
    color: white;
    font-size: 60px;
    font-weight: 700;
    background-color: rgba(73, 67, 67, 0.4);

}

.help {
    color: yellow;
    font-size: 60px;
}

.heading-text p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 50px;
    background-color: rgba(94, 85, 85, 0.4);
}

.link-btn {
    border-radius: 5px;
    background-color: #FF5959;
    padding: 12px 16px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;

}

.link-btn:hover {
    background-color: #DC143C;
}

/*First Section Ended*/

/*Donation Section started*/

.donation-section {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.donation h1 {
    margin-top: 100px;
    font-size: 60px;
    font-weight: 600;
    color: orange;

}

.donation p {
    font-size: 20px;
    margin-top: -30px;
}

.amount-value {
    display: flex;
    text-align: center;
    height: 150px;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(128, 128, 128, 0.048);
}

.amount {
    text-align: center;
    margin-left: 6%;
    margin-right: 5%;
    padding-top: 3%;
}

.box {
    border: 2px solid red;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    background-color: rgba(165, 152, 154, 0.092);
}

.number {
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.366);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

/*Donation Section ended*/

/*Donation Plan started*/

.our-donation-section {
    margin-top: 150px;
}



.donate-plan {
    display: flex;
    margin-bottom: 120px;
    padding: 5px 30px;
    margin: 10px;
}

.donation-plan-text h1 {
    font-size: 60px;
    font-weight: 600;
    color: orange;


}

.donation-plan-text p {
    font-size: 16px;
    color: rgba(128, 128, 128, 0.856);
    margin-top: -30px;
}

.donation-plan-text {

    text-align: center;
}

.donate-icon {
    margin: 3% -3% 3% 8%;
    width: 330px;
    height: 280px;
    padding-left: 1%;
    padding-top: 2%;
}

.donate-icon h3 {
    font-size: 25px;

}

#food {
    background-color: #4F9DA61A;
}

#shelter {
    background-color: #FF59591A;
}

#education {
    background-color: #FFF4D6;
}

/*Donation Plan ended*/

/*Important of Charity started*/
.why-us {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 40px;
    margin-right: 40px;
}

.half-width {
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
}

.charity-photo img {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.importance-of-charity {
    text-align: center;
    margin-top: -5px;
}

.importance-of-charity h2 {
    font-size: 35px;
    color: #006400;
}

.importance-of-charity a {
    border-radius: 5px;
    background-color: #1E90FF;
    padding: 8px 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.importance-of-charity a:hover {
    background-color: #483D8B;
}

/*Important of Charity ended*/

/*Email Section Started*/
.updates {
    text-align: center;
}

.update-text h2 {
    font-size: 30px;
}

.update-text p {
    font-size: 16px;
    margin-top: -15px;
    color: grey;
}

.email-section {
    background-color: #FFEEEE;
    width: 600px;
    height: 130px;
    margin: 0 auto;
}

input[type=email] {
    width: 300px;
    padding: 10px;
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #FF5959;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*Email Section Ended*/